* {
    transition: 0.2s ease-in-out;
}

.alignment {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    
}

.nova {
    background-color: #ffff;
    padding: 5px;
    margin: 30px;
    color: black;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nova h1 {
    position: absolute;
}

.nova ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.nova ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: auto;
    margin: 5px;
    border-width: 0 0 0 0;
    border-radius: 1%;
    transition: 0.2s ease-in-out;
}

.nova ul li a:hover {
    border-width: 0 0 2px 0;
    border-radius: 5%;
    border-style: solid;
    border-color: black;
    padding: -1px;
}

#selected{
     border-width: 0 0 2px 0;
    border-radius: 5%;
    border-style: solid;
    border-color: black;
    padding: -1px;
}

#download {
    display: none;
}

.qr-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container button {
    padding: 10px 20px;
    border: 1px solid #b2b2b2;
    outline: none;
    border-radius: 0.25em;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #008000ad;
    transition: 0.3s background-color;
}
 
.container button:hover {
    background-color: #008000;
}

.box{
    aspect-ratio: 18/9;
    width:  69pc;
}
@media (max-width:600px) {
 
.box{
    aspect-ratio: 18/9;
    width:  25pc;
}   
}